<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create Order</h4>
            <p class="card-category">Create new Order</p>
          </div>
          <div class="card-body">
            <form [formGroup]="catalogForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Unit Prise" type="number" formControlName="unitPrice">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Discount" type="number" formControlName="discount">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Stock" type="number" formControlName="stock">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button [routerLink]="['/catalog']" class="btn btn-info">Cancel</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{ mode == 'edit' ? 'Update' :
                'Create' }} Catalog</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>