<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button [routerLink]="['/create-order', 'view', 0]" class="btn btn-danger pull-right">Create Order</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Orders</h4>
                        <p class="card-category"> Created orders</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr class="d-flex">
                                        <th class="col-2">
                                            ID
                                        </th>
                                        <th class="col-2">
                                            Account Id
                                        </th>
                                        <th class="col-2">
                                            Catalog Id
                                        </th>
                                        <th class="col-2">
                                            Quantity
                                        </th>
                                        <th class="col-3">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="d-flex" *ngFor="let order of orders">
                                        <td class="col-2"> {{order.id}}</td>
                                        <td class="col-2"> {{order.accountId}}</td>
                                        <td class="col-2"> {{order.catalogId}}</td>
                                        <td class="col-2"> {{order.quantity}}</td>
                                        <td class="col-3">
                                            <button class="btn btn-info"
                                                [routerLink]="['/create-order',  'edit', order.id]">Edit</button>
                                            <button class="btn btn-danger pull-right"
                                                (click)="delete(order.id)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>