<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button [routerLink]="['/create-account']" class="btn btn-danger pull-right">Create Account</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Customer Account</h4>
                        <p class="card-category"> Customer list</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Account Name
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let account of accounts" > 
                                        <td> {{account.id}}</td>
                                        <td> {{account.accountName}}</td>
                                        <td> 
                                            <button class="btn btn-info" [routerLink]="['/create-account',  'edit', account.id]">Edit</button>
                                            <button class="btn btn-danger pull-right" (click)="delete(account.id)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>