<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button [routerLink]="['/create-catalog', 'view', 0]" class="btn btn-danger pull-right">Create
                    Catalog</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Catalogs</h4>
                        <p class="card-category"> Catalog list</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr class="d-flex">
                                        <th class="col-1">
                                            ID
                                        </th>
                                        <th class="col-2">
                                            Name
                                        </th>
                                        <th class="col-2">
                                            Unit Price
                                        </th>
                                        <th class="col-2">
                                            Discount
                                        </th>
                                        <th class="col-2">
                                            Stock
                                        </th>
                                        <th class="col-3">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="d-flex" *ngFor="let catalog of catalogs">
                                        <td class="col-1"> {{catalog.id}}</td>
                                        <td class="col-2"> {{catalog.name}}</td>
                                        <td class="col-2"> {{catalog.unitPrice}}</td>
                                        <td class="col-2"> {{catalog.discount}}</td>
                                        <td class="col-2"> {{catalog.stock}}</td>
                                        <td class="col-3">
                                            <button class="btn btn-info"
                                                [routerLink]="['/create-catalog',  'edit', catalog.id]">Edit</button>
                                            <button class="btn btn-danger pull-right"
                                                (click)="delete(catalog.id)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>