<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Create Order</h4>
                      <p class="card-category">Create new Order</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-10">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Account Name" formControlName="accountName">
                                  </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{ mode == 'edit' ? 'Update' : 'Create' }} Order</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
